#titulo{
  color: #85cc9c
}
#titulo1{
  color: #a2fa1b
}
#titulo{
  color:#033649
}
#titulo2{
  color:#1693a5
}
#titulo3{
  color:S#ed0b65
}
#titulo4{
  color:#0fc3e8
}
#titulo5{
  color:#0194be
}
#titulo6{
  color:#45b5c4
}
#titulo7{
  color:#00aaff
}
#titulo8{
  color:#3fd97f
}
#titulo9{
   color:#0eaeab
}


#titulo10{
  color:#f95842
}
#titulo11{
  color:#e4a691
}
#titulo12{
  color:#8ebdb6
}
